In [1]:
import pandas as pd

In [7]:
#Series
values = [10,20,30,40,50]
s = pd.Series(values, index= ['a','b','c','d','e'])
s.loc['a']

np.int64(10)

In [9]:
#Data Frame
df= pd.DataFrame({
                    'name':['Mike','Bob','Jim' ],
                    'age':[10,20,30],
                    'job':['Schüler','Student', 'Prgrammer']
})

   name  age        job
0  Mike   10    Schüler
1   Bob   20    Student
2   Jim   30  Prgrammer